body {
	margin:0px;
	font-family: 'Special Elite';
}
h1 {
	margin-bottom: 35px;
}

/*Nav*/
.nav {
	height:30px;
	width: 100%;
	line-height: 30px;
	background-color: rgb(246, 246,246);
	margin:none;
	font-size: 20px;
	vertical-align: middle;
	padding:10px;
	position: fixed;
	z-index: 1;
}
.nav a:link {
	color: white;
	text-decoration:none;
	padding:7px;
}
.nav a:hover {
	color: pink;
}
.nav a:visited {
	color: grey;
}
.nav a:hover {
	color: pink;
}

.links {
	margin-right: 15px;
	text-align: right;
}

.logo {
	height: 50px;
	width: 43px;
	overflow: hidden;
	position: fixed;
	top:0px;
	margin:2px;
}

.logo img{
	width: 100%;
}

/*Home*/
#home {
	background-color: rgb(246,246,244);
}
.home {
	height: 600px;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	padding-top: 70px;
}
.home img {
	width: 100%;
}

.scroll_arrow {
	margin:0;
	text-align: center;
}


/*About*/

.about {
	text-align: center;
	padding: 40px;
}
.text_about {
	margin: 0px 150px;
}


		/*gallery*/
.overlay-button {
	background: pink;
	position: relative;
	bottom: 101%;
	opacity: 0.3;
	line-height: 250px;
}
.overlay-button h1{
	text-align: center;
	color: white;
	font-size: 40px;
	color: black;

}
.button img {
	width: 100%;
	box-sizing: border-box;
	position: relative; 
}

.button {
	text-align: center;
	overflow: hidden;
	margin: 40px;
}

.gallery {
	text-align: center;	
	margin: 0 auto;
}
  
.gallery div {
	vertical-align: top;
	box-sizing: border-box;	
	display: inline-block;
	height: 400px;
	width: 400px;
	overflow: hidden;
}
  
.gallery img {
	width: 100%;
	height: 100%;
}

/*Past Events*/
.contain {
	width: 100%;
	height: 350px;
	padding: 30px 0px;
}
.left {
	text-align: left;
	background: -webkit-linear-gradient(left top, rgb(244, 244, 243), rgb(215, 215, 211)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgb(244, 244, 243), rgb(215, 215, 211)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgb(244, 244, 243), rgb(215, 215, 211)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgb(244, 244, 243), rgb(215, 215, 211)); /* Standard syntax */
}
.left p{
	margin-right: 400px;
}
.right p{
	margin-left: 400px;
}
.right {
	text-align: right;
	background: -webkit-linear-gradient(left top, rgb(215, 215, 211), rgb(244, 244, 243)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgb(215, 215, 211), rgb(244, 244, 243)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgb(215, 215, 211), rgb(244, 244, 243)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgb(215, 215, 211), rgb(244, 244, 243)); /* Standard syntax */
}
.left img {
	display: inline-block;
	float: left;
	height: 300px;
	margin: 30px;

}
.right img {
	display: inline-block;
	float: right;
	height: 300px;
	margin: 30px;
}

/*contact*/
.contact {
	text-align: center;
	margin: 70px;
}
.contact-info {
	width:300px;
	margin:0 auto;
	text-align: left;
}
.contact-info div{
	vertical-align: top;
	box-sizing: border-box;	
	display: inline-block;
	margin: 5px;
}

/*Social Media*/
.floating-smi {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.floating-smi div{
	float: right;
	clear: both;
	width: 40px;
	height: 40px;
	margin: 3px;
}
.floating-smi img{
	width:100%;
}

/*Modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


